@font-face {
            font-family: 'SabicLight';
            src:
                      url('https://www.sabic.com/fonts/SABIC_light.woff2') format('woff2'),
                      url('https://www.sabic.com/fonts/SABIC_light.woff') format('woff'),
		      url('https://www.sabic.com/fonts/SABIC_light.eot') format(‘embedded-opentype’);
            font-weight: normal;
            font-style: normal;
}